/* Basic styles remain unchanged */

body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	height: 100%;
}
.header{
	background-color: #26333b;
	padding: 10px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #26333b;
	text-align: center;
}
ul li{
	display: inline-block;
	width:10%;

}
li a{
	color: white;
	text-decoration: none;
	
}
.logo{
	width: 100%;
	height: 150px;
	background-color: #f7f7f7;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}
.main1{
	overflow: hidden;
	height: 50%;
	margin-top: 37.5px;
}
.main1 img{
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.navbar2{
	background-color: #f9fdfe;
	padding: 10px;
	overflow: hidden;
}
.navbar2 a{
	color: black;
}
.img-container{
	width: 100%;
	height: 450px;
}
.img-container img{
	object-fit:fill;
	height: 100%;
	width: 100%;
	filter: grayscale(60%);
}

.about{
	padding: 70px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
} 
.about h1, p{
	text-align: center;
	margin: 0;
	line-height: 40px;
}
.about button{
	width: 80px;
	align-self: center;
	margin-top: 10px;
	color: white;
	background-color: #26333b;
	padding: 10px;
	border: none;
	letter-spacing: 1px;
	cursor: pointer;
}

.box{
	height: 70%;
	width: 30%;
}
.box img{
	height: 100%;
	width: 100%;
}

.card{
	padding: 20px;
	padding-bottom: 25px;
	background-color: #f5f5f3;
}
.card .boxes {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
.card .boxes .box {
	max-width: calc(100% / 3 );
	cursor: default;
	position: relative;
	text-align: center;
	color: black;
}
.card-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bolder;
}

.banner-img{
	margin: 0;
}
.banner-container{
	padding: 50px;
	background-color: #ffffff;
	position: relative;
	text-align: center;
	height: 300px;
}
.banner-container img{
	object-fit: fill;
	height: 100%;
	width: 100%;
	filter: grayscale(80%);
}
.banner-container .banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f9f9f7;
	padding: 20px 60px;
	font-weight: bolder;
	border-color: #26333b;
	box-shadow: 10px 10px 5px #26333b;
}

.card2-content{
	display: flex;
	flex-direction: column;
}
.card2-heading{
	font-weight: bolder;
	text-align: center;
	font-size: medium;
	word-spacing: 2px;
	letter-spacing: 1px;
	padding: 40px;
	padding-bottom: 10px;
}
.card2{
	padding: 20px;
	padding-bottom: 50px;
	padding-top: 40px;
	background-color: #f5f5f3;
}
.card2 .boxes2 {
	display: flex;
	justify-content: space-between;
	margin: 20px;
}
.card2 .boxes2 .box2 {
	max-width: calc(100% / 3 );
	width: 30%;
	text-align: center;
	color: black;
	height: auto;
}
.box2 img{
	display: block;
	height: 300px;
	width: 100%;
}
.card2-text {
	background-color: white;
	font-weight: bolder;
	padding: 20px;
	word-spacing: 2px;
	letter-spacing: 1px;
	font-size: x-small;
	line-height: 150%;
}

.footer {
	position: static;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #26333b;
	color: white;
	display: flex;
	flex-direction: column;
}
.footer-section1{
	height: auto;
	background-color: #e0e8eb;
	color: black;
	display: flex;
	justify-content: space-between;
	padding: 40px 100px;
	position: relative;
	padding-bottom: 100px;
}
.footer-logo{
	width: 100%;
	justify-content: center;
	align-items: center;
}
.footer-logo img{
	padding: 5px;
	height: 70px;
	width: 300px;
}
.col1-text1{
	font-size: small;
	text-align: center;
	font-weight: bold;
	word-spacing: 2px;
	letter-spacing: 1px;
	margin-top: 20px;
}
.col1-text2{
	font-size: small;
	text-align: center;
	word-spacing: 2px;
	letter-spacing: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.socials{
	display: flex;
	align-content: space-between;
	justify-content: center;
	align-items: center;
}
.socials button{
	margin-right: 10px;
	border: none;
	object-fit: contain;
	height: 20px;
	width: 30px;
	background: transparent;
	cursor: pointer;
}
.socials button img{
	height: 100%;
	width: 100%;
}
.col2-text1{
	font-size: small;
	text-align: center;
	font-weight: bold;
	word-spacing: 2px;
	letter-spacing: 1px;
	margin-top: 20px;
}
.col2-text2{
	font-size: small;
	text-align: center;
	word-spacing: 2px;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 150%;
}
.col3-text1{
	font-size: small;
	text-align: center;
	font-weight: bold;
	word-spacing: 2px;
	letter-spacing: 1px;
	line-height: 140%;
	margin-top: 20px;
}
.col3-text2{
	font-size: small;
	text-align: center;
	word-spacing: 2px;
	letter-spacing: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 150%;
}
.col3-button{
	display: flex;
	justify-content: center;
}
.col3-button button{
	background: transparent;
	border: solid;
	border-radius: 2px;
	border-color: #26333b;
	padding: 7px;
	letter-spacing: 2px;
	font-weight: bolder;
	font-size: x-small;
}

.footer-section2{
	height: auto;
	background-color: #e0e8eb;
	text-align: center;
	color: black;
	position: relative;
	word-spacing: 3px;
	letter-spacing: 2px;
	padding: 20px;
	font-size: xx-small;
	font-weight: bold;
}
.footer-section3{
	height: auto;
	background-color: e0e8eb;
	text-align: center;
	color: black;
	position: relative;
	padding-bottom: 10px;
}
.img-row {
	display: flex;
}
.img-column {
	flex: 33.33%;
	object-fit: contain;
	height: fit-content;
	height: 100px;
}
.img-column img{
	width: 100%;
	height: 100%;
	filter: grayscale(50%);
}
.footer-section4{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: auto;
	background-color: #26333b;
	color: white;
	padding: 10px;
}
.right-text{
	position: absolute;
	right: 2%;
	margin-right: 20px;
	font-size: xx-small;
	font-weight: bold;
}
.center-text{
	flex: 1;
	display: flex;
	justify-content: center;
	font-size: xx-small;
	font-weight: bold;
}
@media (max-width: 768px) {
	ul li {
		width: auto;
		display: block;
		text-align: center;
        padding-bottom: 5px;
	}

	.navbar2 {
		text-align: center;
	}

	.card .boxes, .card2 .boxes2 {
		flex-direction: column;
		align-items: center;
	}

	.card .boxes .box, .card2 .boxes2 .box2 {
		width: 90%;

		margin-bottom: 20px;
	}

	.banner-container {
		height: auto;
		padding: 20px;
	}

	.footer-section1 {
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	.footer-section1 > div {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

}

@media (max-width: 480px) {
	.navbar2 {
		padding: 5px;
	}

	.img-container {
		height: 300px;
	}

	.about {
		padding: 30px 10px;
	}

	.about h1, .about p {
		line-height: 30px;
		font-size: small;
	}

	.about button {
		width: 60px;
		padding: 5px;
	}

	.banner-container {
		padding: 10px;
	}

	.banner-container .banner-text {
		padding: 10px 20px;
		font-size: small;
	}

	.card-text {
		padding: 20px;
		font-size: small;
	}

	.footer-section1 {
		padding: 10px;
		flex-direction: column;
		align-items: center;
	}

	.footer-section1 > div {
		width: 100%;
		margin-bottom: 10px;
	}

	.footer-section2, .footer-section3 {
		padding: 10px;
		font-size: x-small;
	}

	.img-column img {
		height: 80px;
	}
}
